.main {
    &__p {
       
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 50px;

        @media screen and (min-width: 768px) {
            text-align: center;
            margin-left: 125px;
            margin-right: 125px;
        }

        @media screen and (min-width: 1280px) {
            text-align: center;
            margin-left: 325px;
            margin-right: 300px;
        }
    }

    &__section {

        display: grid;

        grid-template-columns: repeat(1, 1fr);

        @media screen and (min-width:768px) {
            grid-template-columns: repeat(2, 1fr);

        }

        @media screen and (min-width: 1024px) {
            grid-template-columns: repeat(3, 1fr);

        }



        img {
            display: block;
            margin: auto;

        }

        h2 {
            text-align: center;


        }

        p {
            margin-left: 60px;
            margin-right: 60px;
            text-align: center;

            @media screen and (min-width:768px) {}

            @media screen and (min-width:1280px) {
                margin-left: 20px;
                margin-right: 20px;
                padding: 20px;
            }
        }

    }


    &__div {
        margin-left: 60px;
        margin-right: 60px;
        text-align: center;
        font-weight: 600;

        &__p {
            color: rgba(72, 72, 72, 0.96)
        }


    }

}